* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn {
    background-color: #FD6E0A;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: #474747;
}

/* Main Style */
header {
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}

nav {
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
}

nav .menu {
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;
}
nav .menu a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
.menu a:hover {
    background-color: #d7d3d3;
    /* padding: 5px 5px; */
    border-radius: 5px;
}

.logo h1 {
    font-size: 45px;
    font-weight: 900;
}
.color-orange {
    color: #FD6E0A;
}

#banner {
    /* border: 1px solid blue; */
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1 {
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}
#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: justify;
    max-width: 585px;
}
#banner .banner-image img {
    max-width: 584px;
    vertical-align: middle;
}

/* About Section */
#about{
    background-color: #FFF8F3;
    max-width: 1140px;
    margin: 130px auto;
    border-radius: 10px;
}
.about-container {
    padding: 131px 156px;
    text-align: center;
}
.about-heading h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}
.about-heading p {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    margin-bottom: 30px;
}
#about .about-container .about-info {
    display: flex;
    justify-content: center;
    gap: 50px;
}

/* Common Style */
.info-card p {
    font-size: 18px;
    color: #757575;
}
.info-card h4 {
    font-size: 20px;
    color: #474747;
}

/* Skill Section */
#skill .skill-container {
    margin: 130px 230px;
}

#skill .skill-container .skill-header {
    text-align: center;
    margin-bottom: 50px;
}

#skill .skill-container .skill-header h2 {
    font-size: 35px;
    font-weight: bold;
    margin-bottom: 30px;
}

#skill .skill-container .skill-header p {
    font-size: 18px;
    line-height: 30px;
    color: #757575;
    max-width: 827px;
    margin: 0 auto;
}

/* Skill Card Section */
.skill-box .skill-card{
    /* border: 1px solid black; */
    border-radius: 5px;
    box-shadow: 0 6px 50px 0 #00000029;
    max-width: 267px;
}

.skill-box{
    display: flex;
    justify-content: center;
    gap: 24px;
}

.skill-card img{
    margin: 30px 0 30px 30px;
}

.skill-card h3{
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 20px;
    margin-left: 30px;
}

.skill-card p {
    font-size: 16px;
    line-height: 28px;
    padding: 0 33px;
    padding-bottom: 30px;
}