* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Shared style */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}
.btn {
    background-color: #FD6E0A;
    border: none;
    color: white;
    font-size: 20px;
    font-weight: bold;
    padding: 18px 35px;
    border-radius: 5px;
    cursor: pointer;
}
.btn:hover {
    background-color: #474747;
}

/* Main Style */
header {
    background-color: #FFF8F3;
    padding-top: 50px;
    background: url("../images/developer.png"), url("../images/header_bg.png"), #FFF8F3;
    background-position: top left, bottom right;
    background-repeat: no-repeat;
}

nav {
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid black; */
    margin: 0 auto;
    display: flex;
    justify-content:space-between;
}

nav .menu {
    list-style: none;
    display: flex;
    gap: 51px;
    align-items: center;
}
nav .menu a {
    text-decoration: none;
    color: #474747;
    font-size: 20px;
}
.menu a:hover {
    background-color: #d7d3d3;
    /* padding: 5px 5px; */
    border-radius: 5px;
}

.logo h1 {
    font-size: 45px;
    font-weight: 900;
}
.color-orange {
    color: #FD6E0A;
}

#banner {
    /* border: 1px solid blue; */
    margin: 46px 38px 0 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#banner .banner-content h2 {
    font-size: 45px;
    font-weight: 600;
    color: #474747;
    margin-bottom: 5px;
}

#banner .banner-content h1 {
    font-size: 85px;
    font-weight: 700;
    margin-bottom: 20px;
}
#banner .banner-content p {
    font-size: 18px;
    color: #757575;
    line-height: 30px;
    margin-bottom: 30px;
    text-align: justify;
    max-width: 585px;
}
#banner .banner-image img {
    max-width: 584px;
    vertical-align: middle;
}
